<form #form="ngForm" (submit)="onSave(form)" class="hero-form">
  <mat-form-field>
    <textarea
      name="name"
      matInput
      placeholder="Enter hero"
      [(ngModel)]="hero.name"
      required
      #name="ngModel"
    ></textarea>
    <mat-error *ngIf="name.invalid && (name.touched || name.dirty)">
      Please enter a name
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      name="universe"
      matInput
      placeholder="Enter universe"
      [(ngModel)]="hero.universe"
      required
      #universe="ngModel"
    />
    <mat-error *ngIf="universe.invalid && (universe.touched || universe.dirty)">
      Please enter universe belong
    </mat-error>
  </mat-form-field>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!form.valid"
  >
    Save
  </button>
</form>
