<button
  mat-button
  color="primary"
  class="create-hero"
  [routerLink]="['/edit']"
>
  <mat-icon>node_add</mat-icon>Add Hero
</button>
<mat-card class="hero-card" *ngFor="let hero of listHero | async">
  <mat-card-header>
    <div mat-card-avatar class="avatar" [ngStyle]="getRandomColor()">
      <span>{{ hero.name.split('')[0] }}</span>
    </div>
    <mat-card-title>{{ hero.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Best unit for Earth party, providing 60% damage buff and 80% crit chance for earth unit</li>
      <li>Give 4200 HP shield for each member party, HP recover overtime total 3000 HP</li>
      <li>During enemy break states, increase damage dealt by 50%</li>
      <li>If you have her with Fen and Norn, congrats you had an ultimate Trio Earth team</li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="hero-action">
    <button mat-button color="primary" [routerLink]="['/edit', hero._id]">
      Edit
    </button>
    <button mat-button color="warn" (click)="onDelete(hero._id)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
