.quotes-card {
  margin: 2rem;
}

.avatar {
  background: blue;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 9px;
  font-size: 24px;
  margin-top: -7px;
  span {
    color: #ffffff;
    font-weight: bold;
  }
}

.hero-action {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .hero-card {
    width: 600px;
  }
}

.create-hero {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

ul {
  margin-left: 20px;
}
