<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <span [routerLink]="['/']">Hero Client</span>
    <button mat-button [routerLink]="['/hero']" routerLinkActive="active">
      <mat-icon>accessibility_new</mat-icon>
      Hero
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
