<h1>Homepage</h1>

<!-- <div class="home-container" *ngIf="hero | async as hero">
  <span class="hero">
    {{ hero.name }}
  </span>
  <br />
  <button mat-raised-button color="primary" [routerLink]="['/hero']">
    View All Hero
  </button>
</div> -->
