.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 2rem;
}

.hero {
  font-size: 2rem;
  text-transform: uppercase;
  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}

@media screen and (min-width: 768px) {
  .home-container {
    width: 60vw;
  }
}
